<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pixelcarracing" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pixel Car Racing</name>
    <description>A pixel art car racing game for Android</description>
    <author email="dev@pixelcarracing.com" href="http://pixelcarracing.com">Pixel Car Racing Team</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="36" />
    </platform>
</widget>
